.hidden-animation{
    opacity: 0;
    transition: all 0.4s;
    filter: blur(10px);
    transform: translateY(200px);
}
.show-animation{
    opacity: 1;
    transition: all 0.4s;
    filter: blur(0);
    transform: translateY(0);
}