.swiper-container{
    overflow: hidden;
}
.img-mobile{
    display: none;
}
.img-desktop{
    display: block;
}
.container-banner {
    width: 100%;
    height: max-content;
}
.swiper-pagination{
    position: absolute;
    bottom: unset !important;
    top: 21rem;
}
.slide-banner img{
    width: 100%;
}
.conteudo-slide{
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}
.bt{
    padding: .5rem 2.3rem;
}
.slide-hotel:hover{
    cursor: pointer;
}

.container-hoteis{
    position: relative;
    width: 90%;
    height: 410px;
    margin: 0 auto;
}
.container-slide-hoteis{
    margin-left: 0;
}
.swiper-button-prev-hotel,
.swiper-button-next-hotel {
    width: 60px;
    height: 60px;
    background-color: rgba(150, 150, 150, 0.308);
    border-radius: 50%;
    color: #fff;
    --swiper-navigation-size: 18px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
}
.swiper-destinos{
    position: relative;
    margin: 0 auto;
}
.swiper-button-next-destino,
.swiper-button-prev-destino{
    border-radius: 50%;
    color: #f7f7f7d7;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: center;
    width: 30px;
    height: 30px;
    border: 2px solid #ffffff;
    background-color: #2c2c2c00;
    position: absolute;
    top:87%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 14;
    --swiper-navigation-size: 18px;
    margin-left: 20px;
}
.swiper-button-next-destino:hover,
.swiper-button-prev-destino:hover{
    background-color: #141414;
    color: #acaaaa;
}

/* CARDS GERAIS -- */
.swiper-destinos .card-img{
    margin-top: 2px;
    filter: brightness(0.7);
}
.card{
    border-radius: 40px;
    transition: transform 0.3s;
    border: none;
    --bs-card-bg: #fff00000;
}
.card:hover{
    transform: scale(1.01);
    cursor: pointer;
}

/* CARDS Destino --- */
.card-conteudo{
    padding-top: 10.2rem;
    padding-bottom: 1.2rem;
}

.card-conteudo-destino{
    padding-top: 14.6rem;
    padding-bottom: 1.2rem;
    background-color: #00000088;
}
.card-img-overlay{
    text-align: left;
}
.card-conteudo-destino h4{
    font-size: 38px;
    letter-spacing: -2px;
}
/* CARDS SERVICOS --- */
.swiper-servicos{
    position: relative;
    width: 80%;
    height: 330px;
    margin-left: 4rem;
}
.swiper-button-next-servico,
.swiper-button-prev-servico{
    border-radius: 50%;
    color: #000000d7;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: center;
    width: 30px;
    height: 30px;
    border: 2px solid #000;
    background-color: #2c2c2c00;
    position: absolute;
    top:97%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 14;
    --swiper-navigation-size: 14px;
}
.swiper-button-next-servico:hover,
.swiper-button-prev-servico:hover{
    background-color: #141414;
    color: #fff;
}
.swiper-button-next-destino{
    right: 30px;
}

.swiper-button-next-destino, 
.swiper-rtl 
.swiper-button-prev-destino{
    right: var(--swiper-navigation-sides-offset, 10px);
    left: 45px;
}

.swiper-button-next-servico, 
.swiper-rtl 
.swiper-button-prev-servico{
    right: var(--swiper-navigation-sides-offset, 20px);
    left: 45px;
}
 
.swiper-button-next-qualidade,
.swiper-button-prev-qualidade{
    color: #141414d7;
    margin-left: 20px;
}
.slide-servico{
    transition: 0.5s;
    background-color: rgb(18, 72, 218);
    height: 280px;
    -webkit-box-shadow: 0 4px 10px rgba(2, 75, 211, 0.26);
    box-shadow: 0 4px 10px rgba(20, 61, 122, 0.342);       
}
.slide-servico:hover{
   transform: scale(1.01);
}
.card-conteudo-servico{
    color: var(--light);
}