/* Estilo geral --- */

/* NAVBAR ------------ */
.img-destino-mobile{
    display: none;
}
.img-destino-desktop{
    display: block;
}
.img-destino-tablet{
    display: none;
}

@media (min-width: 992px){ /* Deixar a navbar fixa quando vista pelo desktop*/
    .navbar{
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 1000;
        box-shadow: 0px 10px 29px 0px #5c67ff07;
    }
   
    .swiper-backface-hidden .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .titulo-apresentativo{
        text-align: center;
        font-size: 55px;
    }
    .container-depoimentos .card{
        width: 80%;
    }
    .card-conteudo-servico h1{
        font-size: 2rem!important;
    }
}

/* NAVBAR ------------ */

@media (max-width: 1024px){
    .container-slide-hoteis{
        text-align: center;
    }
    .title-destinos,
    .descricao-destinos{
        margin-left: 0;
        text-align: center;
    }
    .titulo-alerta{
        font-size: 46px;
    }

    /* -- Ajuste dos botoes do slider destinos*/
    .swiper-destino{
        width: 100%;
        margin-left: unset;
    }

}
@media (max-width: 688px){
    .titulo-alerta{
        font-size: 46px;
        
    }
    .texto-alerta{
        padding: 0 20px;
    }
    .centralizar{
        text-align: center;
        width: 80%;
    }
    .titulo-hoteis,
    .title-qualidade,
    .title-quem-somos,
    .descricao-hoteis,
    .title-servicos,
    .descricao-qualidade,
    .title-certificacao,
    .descricao-servicos{
        text-align: center;
        margin-left: 0;
    }
    .titulo-hoteis,
    .title-servicos,
    .title-destinos
    {
        margin-top: 4rem;
        font-size: 34px;
    }
    .descricao-destinos,
    .descricao-hoteis,
    .descricao-servicos{
        font-size: 18px;
    }
    .card-conteudo-servico p{
        margin: 0 auto;
        width: 80%;
    }
    .card-conteudo-destino.slide-destino{
        height: 700px;
        background-color: black;
    }
    footer .row{
        padding-left: 0;
    }
    .accordion{
        padding: 2rem 0;
        width: 90%;
    }
    .container-quem-somos{
        text-align: center;
        align-items: center;
        margin-left: 0;
    }
    .conteudo-certificacao h1{
        font-size: 26px;
        text-align: center;
    }
}


/* ESTILO CAROUSEL ---------------------- 
    Media queries do Carousel
*/
.swiper-destino{
    position: relative;
    width: 80%;
    height: 530px;
    margin-left: 4rem;
}

@media (max-width: 1023px){
    .img-desktop{
        display: none;
    }
    .navbar{
        position: relative;
    }
    .img-mobile{
        display: block;
    }
    .apresentacao{
        margin-top: 0;
        margin-bottom: 1rem;
    }

}

@media (max-width: 720px){
    .card-conteudo{
        padding-top: 9.2rem;
        font-size: 15px;
    }
    .img-destino-tablet{
        display: block;
    }
    .img-destino-mobile{
        display: none;
    }
    .img-destino-desktop{
        display: none;
    }
}
@media (max-width: 640px){
    .container-slide-hoteis{
        text-align: center;
    }

    .container-destinos,
    .container-destinos .row{
        --bs-gutter-x: 0;
    }
    .card-conteudo-destino {
        padding-top: 2.2rem;
    }

    .title-quem-somos{
       text-align: center;
        padding: 0rem 0;
    }
    .container-quem-somos{
        width: 100%;
        
    }
    .accordion{
        width: 100;
    }

}
@media (max-width: 1592px){
    .card-conteudo-destino{
        padding-top: 10.6rem;
        padding-bottom: 1.2rem;
    }
    .wrapper-destinos{
        padding-bottom: 7rem;
    }

    .swiper-button-next-destino,
    .swiper-button-prev-destino{
        color: #000000d7;
        border: 2px solid #000;
        top:97%;
    }
}

@media (max-width: 1400px){
    .card-conteudo-destino{
        padding-top: 8.6rem;
        padding-bottom: 1.2rem;
    }
    .card-conteudo-destino h4{
        font-size: 32px;
    }
}

@media (max-width: 1291px){
    .card-conteudo-destino{
        padding-top: 5.6rem;
        padding-bottom: 1.2rem;
    }
    .card-conteudo-destino h4{
        font-size: 27px;
    }
    /* -- Ajuste dos botoes do slider  Servicos*/
    .swiper-servicos{
        width: 100%;
        margin-left: unset;
    }

}
@media (max-width: 1090px){
    .card-conteudo-destino{
        padding-top: 4.6rem;
        padding-bottom: 1.2rem;
    }
    .card-conteudo-destino p{
        font-size: 14px;
    }
    .navbar-nav{
        transition: ease 0.5s;
        transform: translateX(0);
    }
}
@media (max-width: 991px){
    .card-conteudo-destino p{
        font-size: 16px;
    }
    .slide-servico{
        margin: 0 auto;
    }
    .card-conteudo-destino{
        padding-top: 14.6rem;
        padding-bottom: 1.2rem;
    }
    .card-conteudo-destino h4{
        font-size: 38px;
    }

    /* --- Navbar --- */
    .navbar{
        overflow: hidden;
    }
    .navbar-brand{
        position: unset;
    }
    .navbar-toggler{
        z-index: 5000;
        border: none;
    }
    .navbar-toggler:active{
        border: none;
    }
    .navbar-nav{
        position: fixed;
        top:0;
        left: 0;
        display: flex;
        justify-content: top;
        align-items: center;
        width: 100%;
        height: 100vh;
        backdrop-filter: blur(8px);
        background-color: rgba(51, 51, 51, 0.8);
        z-index: 2000;
        transition: ease-in-out .5s;
        transform: translateX(100);
        padding-top: 5rem;
        overflow-y: hidden;
    }
    .nav-item{
        width: 100%;
        padding: 2px;
    }
    .navbar-nav .nav-link{
        color: #fff;
        font-size: 34px;
        margin-left: 4rem;
        font-weight: 700;
    }
    .collapse{
        align-items: unset;
        text-align: unset;
        font-size: 21px;
        font-weight: 700;
        letter-spacing: unset;
        overflow: hidden;
    }
    .bg-nav{
        padding: unset;
        width: 200px;
        height: 70px;
        margin-top: 2rem;
        margin-left: 4rem;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .swiper-backface-hidden .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    footer .row .mb-2{
        padding-left: 1.7rem;
    }
}
@media (max-width: 815px){
    .card-conteudo-destino{
        padding-top: 10.2rem;
    }
}
@media (min-width: 1628px){
    .swiper-servicos{
        height: 330px;
    }
    .slide-servico{
        height: 280px;
    }
}

@media (max-width: 414px){
    .navbar .container{
        margin: 0 20px;;
    }
    .centralizar{
        text-align: center;
        width: 100%;
    }
    .img-destino-tablet{
        display: none;
    }
    .img-destino-mobile{
        display: block;
    }
    .img-destino-desktop{
        display: none;
    }
    .accordion{
        width: 99%;
    }
    footer .row {
        width: 100%;
        padding: 0;
    }
    .px-4 {
        padding-right: 0!important;
        padding-left: 0rem!important;
    }
    .ps-4 {
        padding-left: 1rem!important;
    }
    .btn-contato{
        width: 150px;
        font-size: 14px;
    }
    footer .row .mb-2 {
        padding-left: 1rem;
    }
    .titulo-apresentativo{
        font-size: 35px;
        margin-top: 4rem;
    }
    .container-depoimentos .card .card-body{
        width: 100%;
    }
}
@media (min-width: 320px) {
    .card-conteudo-destino {
        padding-top: 1.2rem;
    }
}