:root{
  --dark-blue: #003572; 
  --light-blue :#56c1ca;
  --dark-brown: #231C24;
  --dark-gray: #324E54;
  --brown: #4C3B35;
  --orange: #DD8547;
  --dark: #1d1d1f;

}
body.navbar-open {
    overflow: hidden;
}
.navbar-open{
    left: 0;
}
html, body{
    margin: 0;
    padding: 0;

    font-family: "Poppins", sans-serif;
    font-style: normal;
    background-color: #fafafa;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
}

h1{
    letter-spacing: -2px;
    font-weight: bold;
}
.collapse{
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: center;
    font-size: 21px;
    font-weight: 700;
    letter-spacing: -1.5px;
}
.navbar-nav{
    align-items: center;
    gap: 7px;
}
.navbar li a {
    color: var(--dark-blue);
    font-weight: 600;
}
.nav-link:hover{
    color: var(--light-blue);
}
.nav-link{
    color: var(--light-blue);
}
.navbar-brand{
    position: absolute;
}
.bg-nav{
    width: 100px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: normal;

    color: #FFF;

    -webkit-box-shadow: 0 4px 10px rgba(44, 211, 2, 0.25);
    box-shadow: 0 4px 10px rgba(20, 122, 20, 0.25);
}
/* Section - Hoteis e Resorts ----*/


.titulo-hoteis{
    margin-top: 2.5rem;
    color:  var(--dark);
    letter-spacing: -2px;
}
.apresentacao{
    margin-top: 5rem;
    margin-bottom: 2rem;
}
.gradient-text{
    font-size: 46px;
    letter-spacing: -0.043em;
    background: linear-gradient(45deg, rgb(40, 80, 165), rgb(204, 41, 41), #3458f7, rgb(59, 103, 226), rgb(255, 0, 43));
    --webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.gradient-text:hover{
    animation: color-rotate 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes color-rotate{
    from{
        filter: hue-rotate(0deg);
    }
    to{
        filter: hue-rotate(360deg);
    }
}

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    background-color: #70fda6;
    border-radius: 50%;
    padding: 5px;
    right: 20px;
    z-index: 999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.whatsapp-button:hover{
    padding: 8px;
    transition: ease-in-out 0.2s;
}
.whatsapp-button img {
    width: 40px;
    height: 40px; 
    border-radius: 50%;     
    transition: transform 0.3s ease-in-out;
}
/* SESSAO DESTINOS ------> */

.container-destinos{
    width: 100%;
}
.container-slide-hoteis,
.title-destinos,
.descricao-destinos,
.title-servicos,
.descricao-servicos,
.title-qualidade,
.titulo-hoteis,
.descricao-hoteis,
.descricao-qualidade,
.title-certificacao,
.title-quem-somos
{
    margin-left: 4rem;
}

/* SESSAO QUEM SOMOS */

.container-quem-somos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.container-quem-somos{
    align-items: start;
   
}
.accordion{
    padding: 4rem 4rem;
    width: 80%;
}
.accordion .collapse {
    align-items: unset;
    text-align: unset;
    font-weight: unset;
    letter-spacing: unset;
    transition: all 1s ease;
}
.accordion-body p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    letter-spacing: -1px;
    font-size: 24px;
}

/* SESSAO QUEM SOMOS */

.texto-alerta{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.centralizar{
    text-align: center;
    width: 50%;
}
.titulo-alerta{
    font-size: 66px;
    line-height: 1;
    letter-spacing: -0.043em;
    color: var(--dark);
    font-weight: 700;
}
.navbar-toggler{
    width: 20px;
    height: 20px;
    position: relative;
    transition: .5s ease-in-out;
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
    outline: none;
    box-shadow: none;
    border: 0;
}

.navbar-toggler span{
    margin: 0;
    padding: 0;
}

.toggler-icon{
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #111111;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out; 
}
.middle-bar{
    margin-top: 0px;
}

/* quando clicado */
.navbar-toggler .top-bar{
    margin-top:0px;
    transform: rotate(135deg);
    background-color: #ffffff;
}
.navbar-toggler .middle-bar{
    opacity: 0;
    filter: alpha(opacity=0);
    background-color: #ffffff;
}
.navbar-toggler .bottom-bar{
    margin-top:0px;
    transform: rotate(-135deg);
    background-color: #ffffff;
}


/* quando o menu é aberto */
.navbar-toggler.collapsed .top-bar{
    margin-top: -12px;
    background-color: #cfcfcf00;
}

.navbar-toggler.collapsed .middle-bar{
    opacity: 1;
    filter: alpha(opacity=100);
    background-color: #202020;
}
.navbar-toggler.collapsed .bottom-bar{
    margin-top: 11px;
    transform: rotate(0deg);
    background-color: #202020;
}

.pre-loading{
    width: 100%;
    height: 100vh;
    z-index: 9900;
    position: fixed;

    background-color: #fff;
    background-image: url('../resource/loading.gif');
    background-position: center;
    background-size: 300px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{display: none;}


html.lenis {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }

footer{
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
}
footer .row{
    padding: 7rem 4rem;
    flex-wrap: wrap;
}
.texto-coryrighter{
    text-align: center;
    font-size: 14px;
}
.mb-2 .btn{
    white-space: nowrap;
    max-lines: 1;
    box-shadow: 0 4px 8px rgba(0, 126, 10, 0.1);
}
.btn-contato-conteudo{
    display: flex;
    vertical-align: center;
}

/* COTAINER QUALIDADE ------- */
.container-qualidade .card{
    background-color: #ffffff;
}
.swipper-qualidade.swipper-wrapper{
    padding-bottom: 2rem;
}
.container-depoimentos{
    text-align: center;
    margin-top: 5rem;
}
.container-depoimentos p{
    font-size: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    align-items: center;
}
.title-qualidade{
    margin-top: 1rem;
}
#section-servicos{
    height: 80vh;
}
.titulo-apresentativo{
    text-align: center;
    margin-top: 3rem;
    font-size: 45px;
    color: var(--dark-blue);
}

/* DEPOIMENTOS */
.container-depoimentos .card {
    text-align: center;
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-depoimentos .card .card-body{
    align-items: center;
    width: 90%;
}
.swipper-depoimentos .swipper.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
} 
.slide-depoimentos{
    width: 80%;
}
.container-depoimentos .card p{
    text-align: center;
    margin-top: 0px;
    font-size: 16px;
}
.container-depoimentos .card h4{
    font-weight: 700;
}
.container-depoimentos .card-img-top {
    border-radius: 50%;
    width: 80px; /* Ajuste o tamanho da imagem conforme necessário */
    height: 80px;
    margin: 15px auto;
    border: 3px solid #fff;
    object-fit: cover;
}
.conteudo-certificacao{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.conteudo-certificacao h1{
    color: #003572;
}
.conteudo-certificacao p{
    color: #003572;
    font-size: 20px;
    width: 80%;
    text-align: center;
    padding: 2rem 0;
}
.conteudo-certificacao img{
    -webkit-box-shadow: 0 4px 10px rgba(2, 134, 211, 0.25);
    box-shadow: 0 4px 10px rgba(20, 68, 122, 0.25);
}
.title-certificacao{
    margin-top: 5rem;
}