.swiper-container{
    overflow: hidden;
}
.img-mobile{
    display: none;
}
.img-desktop{
    display: block;
}
.container-banner {
    width: 100%;
    height: max-content;
}
.swiper-pagination{
    position: absolute;
    bottom: unset !important;
    top: 21rem;
}
.slide-banner img{
    width: 100%;
}
.conteudo-slide{
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}
.bt{
    padding: .5rem 2.3rem;
}
.slide-hotel{
    padding: 0px 1rem;
}
.slide-hotel:hover{
    cursor: pointer;
}

.container-hoteis{
    width: 100%;
    height: 410px;
}

.swiper-button-prev,
.swiper-button-next {
  color: #fff;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
}

@media (max-width: 1023px){
    .img-desktop{
        display: none;
    }
    .img-mobile{
        display: block;
    }
}