.swiper-container{
    overflow: hidden;
}
.img-mobile{
    display: none;
}
.img-desktop{
    display: block;
}
.container-banner {
    width: 100%;
    height: max-content;
}
.swiper-pagination{
    position: absolute;
    bottom: unset !important;
    top: 21rem;
}
.slide-banner img{
    width: 100%;
}
.conteudo-slide{
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}
.bt{
    padding: .5rem 2.3rem;
}
.slide-hotel:hover{
    cursor: pointer;
}

.container-hoteis{
    position: relative;
    width: 90%;
    height: 410px;
    margin: 0 auto;
}
.container-slide-hoteis{
    margin-left: 0;
}
.swiper-button-prev-hotel,
.swiper-button-next-hotel {
    width: 60px;
    height: 60px;
    background-color: rgba(150, 150, 150, 0.26);
    border-radius: 50%;
    color: #fff;
    --swiper-navigation-size: 18px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
}
.swiper-destinos{
    position: relative;
}
.swiper-button-next-destino,
.swiper-button-prev-destino{
    border-radius: 50%;
    color: #fff;
    font-size: 16px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 52%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
}
.swiper-button-next-destino{
    right: 1.5;
}
.swiper-button-prev-destino{
    left: 1.5rem
}

/* CARDS GERAIS -- */
.card-img{
    margin-top: 2px;
    filter: brightness(0.7);
}
.card{
    border-radius: 40px;
    transition: transform 0.3s;
    border: none;
    --bs-card-bg: #fff00000;
}
.card:hover{
    transform: scale(1.01);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.301)0;
    cursor: pointer;
}

/* CARDS Destino --- */
.card-conteudo{
    padding-top: 10.2rem;
    padding-bottom: 1.2rem;
}

.card-conteudo-destino{
    padding-top: 14.6rem;
    padding-bottom: 1.2rem;
}
.card-img-overlay{
    text-align: left;
}
.card-conteudo-destino h4{
    font-size: 38px;
    letter-spacing: -2px;
}
/* CARDS SERVICOS --- */
.swiper-servicos{
    position: relative;
    width: 90%;
    height: 290px;
    margin: 0 auto;
}
.swiper-button-next-servico,
.swiper-button-prev-servico{
    border-radius: 50%;
    color: #000000d7;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: center;
    width: 20px;
    height: 20px;
    background-color: #0000003a;
    position: absolute;
    top:97%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 14;
    --swiper-navigation-size: 10px;
}
.swiper-button-next-servico:hover,
.swiper-button-prev-servico:hover{
    background-color: #00000069;
}
.swiper-button-next-destino{
    right: 30px;
}
.swiper-button-next-servico, 
.swiper-rtl 
.swiper-button-prev-servico{
    right: var(--swiper-navigation-sides-offset, 20px);
    left: 35px;
} 
.swiper-button-prev-destino{
    margin-left: 2rem;
}
.slide-servico{
    background: linear-gradient(45deg, #0c3979, #1b4f97) ;
    height: 250px;
}

.card-conteudo-servico{
    color: var(--light);
}

/* MEDIA QUERIES ---- */
@media (max-width: 1023px){
    .img-desktop{
        display: none;
    }
    .img-mobile{
        display: block;
    }
}
@media (max-width: 720px){
    .card-conteudo{
        padding-top: 9.2rem;
        font-size: 15px;
    }
}
@media (max-width: 640px){
    .container-slide-hoteis{
        text-align: center;
    }
}
@media (max-width: 1592px){
    .card-conteudo-destino{
        padding-top: 10.6rem;
        padding-bottom: 1.2rem;
    }
}
@media (max-width: 1400px){
    .card-conteudo-destino{
        padding-top: 8.6rem;
        padding-bottom: 1.2rem;
    }
    .card-conteudo-destino h4{
        font-size: 32px;
    }
}
@media (max-width: 1291px){
    .card-conteudo-destino{
        padding-top: 5.6rem;
        padding-bottom: 1.2rem;
    }
    .card-conteudo-destino h4{
        font-size: 27px;
    }
}
@media (max-width: 1090px){
    .card-conteudo-destino{
        padding-top: 4.6rem;
        padding-bottom: 1.2rem;
    }
    .card-conteudo-destino p{
        font-size: 14px;
    }
}
@media (max-width: 991px){
    .card-conteudo-destino p{
        font-size: 16px;
    }
    .card-conteudo-destino{
        padding-top: 14.6rem;
        padding-bottom: 1.2rem;
    }
    .card-conteudo-destino h4{
        font-size: 38px;
    }
}